
.header-class{
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    border-width: 0px;
    -webkit-box-shadow: 0px 0px;
    box-shadow: 0px 0px;
    opacity: 0.5;
    background: whitesmoke;
}
