body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-image: url("./utills/images/woman-in-black-dress-playing-guitar-3697513.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: white;
}
